.movie-list {
  padding: 81px 0 30px;
  border-top: 1px solid #E8E8E8;
}

.movie-list__container {
  display: grid;
  row-gap: 30px;
  column-gap: 24px;
  list-style: none; 
  grid-template-columns: repeat(auto-fit, 364px);
  margin: 0;
  padding: 0;
}

.movie-list__not-found {
  color: #EE3465;
}

.button_type_more {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  width: 320px;
  height: 36px;
  padding: 0;
  outline: none;
  border: 1px solid #E8E8E8;
    border-radius: 3px;
    background: #ffffff;
  transition: 0.1s linear 0.1s;
}

.button_type_more:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .button_type_more {
    width: 240px;
  }
}

@media screen and (max-width: 1023px) {

  .movie-list__container {
    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 36px;
    column-gap: 30px;
  } 
   
}

@media screen and (max-width: 425px) {

  .movie-list {
    padding-top: 50px;
  }

  .movie-list__container {
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 16px;
  } 

}