.movie-list {
  padding: 81px 0 30px;
  border-top: 1px solid #E8E8E8;
}

.movie-list__container {
  display: grid;
  row-gap: 30px;
  column-gap: 24px;
  list-style: none; 
  grid-template-columns: repeat(auto-fit, 364px);
  margin: 0;
  padding: 0;
}

.movie-list__not-found {
  color: #EE3465;
}

@media screen and (max-width: 1023px) {

  .movie-list__container {
    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 36px;
    column-gap: 30px;
  } 
   
}

@media screen and (max-width: 425px) {

  .movie-list {
    padding-top: 50px;
  }

  .movie-list__container {
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 16px;
  } 

}