.auth {
    max-width: 400px;
    padding: 70px 0;
    margin: 0 auto;
  }
  
  .auth__logo-link {
    width: 38px;
    height: 38px;
    transition: 0.2s;
  }
  
  .auth__logo-link:hover {
    opacity: 0.7;
  }
  
  .auth__greeting {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0;
    color: black;
  }
  
  .auth__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .auth__field {
    position: relative;
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8b8b8b;
    margin: 0 auto 20px;
    box-sizing: border-box;
  }
  
  .auth__input {
    color: black;
    display: flex;
    max-width: 370px;
    width: 100%;
    padding: 15px;
    margin: 10px 0 0 0;
    border: none;
    background: #F9F9F9;
    border-radius: 8px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    box-sizing: border-box;
  }
  
  .auth__input_error {
    color: #ee3465;
  }
  
  .auth__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0 0 0;
    padding: 0;
    background: #2BE080;
    border-radius: 3px;
    height: 45px;
    border: none;
    max-width: 370px;
    width: 100%;
    color: white;
  }
  
  .auth__submit_state_sign-in {
    margin: 178px 0 0 0;
  }
  
  .auth__submit_disabled {
    border: 1px solid #8b8b8b;
    background: unset;
    color: #8b8b8b;
  }
  
  .auth__submit:hover {
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .auth__submit_disabled:hover {
    cursor: default;
    opacity: 1;
  }
  
  .auth__submit_disabled:active {
    outline: none;
  }
  
  .auth__submit_disabled:focus {
    outline: none;
  }
  
  .auth__subline {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8b8b8b;
  }
  
  .auth__link {
    color: #2BE080;
    transition: 0.2s;
    text-decoration: none;
  }
  
  .auth__link:hover {
    opacity: 0.7;
  }
  
  .auth__error {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
    top: calc(100% + 5px);
  }
  
  @media screen and (max-width: 450px) {
    .auth {
      max-width: 400px;
      padding: 70px 0;
      margin: 0 30px;
    }
  
    .auth__logo-link {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
  
    .auth__greeting {
      display: flex;
      justify-content: center;
      margin: 50px auto 80px;
    }
  
    .auth__link {
      font-size: 12px;
      line-height: 15px;
    }
  }