.sidebar {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
    z-index: 5;
  }
  
  .sidebar_opened {
    visibility: visible;
    opacity: 1;
  }
  
  .sidebar__container {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #202020;
    height: 100vh;
    width: 540px;
    z-index: 10;
  }
  
  .sidebar__container-animation {
    animation: burger 0.4s ease-in-out;
    overflow: hidden;
  }
  
  .sidebar__list {
    list-style-type: none;
    padding: 0;
    margin: 159px 90px 90px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
  }
  
  .sidebar__list-item {
    margin: 0 0 28px;
    text-align: center;
  }
  
  .sidebar__list-item:nth-of-type(3) {
    margin: 0;
  }
  
  .sidebar__list-item:last-of-type {
    justify-self: flex-end;
    margin: 60vh 0 0;
  }
  
  .sidebar__link {
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-size: 18px;
    line-height: 22px;
  }
  
  .sidebar__link_active {
    padding-bottom: 2px;
    border-bottom: 1px solid white;
  }
  
  .sidebar__link:hover {
    opacity: 0.7;
  }
  
  .sidebar__link-box {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    font-size: 18px;
    line-height: 22px;
  }
  
  .sidebar__link-box:hover {
    opacity: 0.7;
  }
  
  .sidebar__close-button {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 29px;
    right: 29px;
    background-image: url("../../images/svg/close_icon.svg");
    background-position: center;
    background-color: unset;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    transition: 0.2s;
  }
  
  .sidebar__close-button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  @keyframes burger {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  
  @media screen and (max-width: 550px) {
    .sidebar__container {
      width: 100vw;
    }
  
    .sidebar__list {
      margin: 144px 10px 46px;
      height: calc(100vh - 180px);
    }
  
    .sidebar__list-item {
      margin: 0 0 24px;
      text-align: center;
    }
  
    .sidebar__list-item:last-of-type {
      margin: 40vh 0 0;
    }
  }
  
  @media screen and (max-height: 800px) {
    .sidebar__list-item:last-of-type {
      margin: 40vh 0 0;
    }
  }